# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Build folders (IGNORE these)
build/
# *.spec

dist/
# IDE

.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp